*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    font-family: 'Merriweather', serif;
}

.light-blue{
    color:#29b1dd;
}

.bg-light-blue{
    background-color:#29b1dd;
}

.top-header, 
.bottom-header{
    height:60px;
}

#icons{
    min-height: calc(100vh - 120px);
    background-color: #dddddd; 
}


/* COLOR OF ICONS */

.animal{
    color:#0000ff;
}

.vegetable{
    color:#ffa500;
}

.user{
    color:#800080;
}

.company{
    color:red;
}

/* ----------------- */

/* GRAPHIC ISSUE ABOUT CARD */

.card{
    border-radius: 10px;
    box-shadow: 1px 1px #9b9b9b;
}


/* Text Trasnform */
/* 
#filter-form *{
    text-transform: capitalize;
} */


